#searchElement{
    background: white;
    margin:0 auto;
    padding:3px;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    span{
        font-size: 14px;
        margin: 0 3px;
        display: inline-block;
        font-weight: 500;
        color:#383838;
        text-align: left;
    }
    input{
        display: inline-block;
        outline: none;
        border:none;
        background: transparent;
        border:none;
        height: 25px;
    }
}