.header{
  background:rgb(238, 215, 10);
  padding:10px 0 0;
  &__top{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    padding:8px 0;
    &--logo{
      width: 20%;
      text-align: left;
      .mobileIcon{
        display: none;
        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          display: inline-block;
          font-size: 20px;
        }
      }
      @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          width: 50%;
      }
      img{
        width: 50px;
        display: inline-block;
        padding-top: 3px;
      }
      h1{
        margin: 0;
        display: inline-block;
        color:#383838;
      }
    }
    &--search{
      width: 60%;
      text-align: center;
      @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          display: none;
      }
    }
    &--cart{
      width: 20%;
      @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
        width: 50%;
        text-align: right;
      }
    }
  }
  &__nav{
    background:#d2bd06;
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          display: none;
      }
    .mainNav{
      padding:5px;
      width: 80%;
      margin:0 auto;
      ul > li{
        display: inline-block;
        margin:5px 10px;
        cursor:pointer;
        font-weight: 300;
        transition: all .5s ease-in;
        -webkit-transition: all .5s ease-in;
        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          display: block;
          border-bottom:1px solid gray;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.mainContent{
  margin:50px 0;
}
*{
  font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
}